:root {
    --black: #33393f;
    --turq: #2aefcb;
    --gin: #e0eae4;
    --pink: #e866ec;
}

::selection {
    background-color: var(--turq);
    color: var(--black);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    color: var(--gin);
    background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 50px;
    color: var(--pink);
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}   

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.5rem;

}

h6 {
    font-size: 1.5rem;
}
p {
    margin-bottom: 1rem;
}

code {
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1.page-title {
    padding: 1rem 1rem;
    font-size: 4.5rem;
}

main {
    width: 100%;
    margin: 2rem auto;
}

footer{
    margin: 1.5rem;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.justify-center {
    justify-content: center;
}

.card-colmun {
    flex: 1 0 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--pink);
    outline: 2px dashed var(--gin);
    outline-offset: 2px;
    transition: all 0.6s ease-in-out;
}
.code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    background-color: var(--black);
    color: var(--pink);
    border: 2px solid var(--gin);
    border-radius: 6px;
    transition: all 0.6s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--pink), 0 0 15px var(--pink)
}

.code-card .code-block {
    flex-grow: 1;
}

.code-card pre {
    white-space: pre-wrap;
    overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--gin);
  border-radius: 8px;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  display: flex;
  align-items: center;
}

.code-card pre:active {
    user-select: all;
  }

  @media screen and (min-width: 768px) {
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
  }

  .card-column:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }

    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
    }